

.search__bar{
    padding: 10px;
    border-radius: 50px;
    background-color: #ddd;
    box-shadow: rgba(17,12, 46, 0.15) 0px 48px 100px 0px;
    width: max-content;
    margin-top: 50px;
}
.form__group span{
    font-size: 1.8rem;
    color: #ee6e6e;
}
.form__group input{
    border: none;
    font-size: 0.9rem;
    color: var(--heading-color);
    background-color: #ddd;
    font-weight: 500;
}
.form__group input:focus{
outline: none;
}
.form__group h6{
    margin-bottom: 0;
}
.form__group-fast {
    border-right: 2px solid #ddd;
}
.search__icon i{
font-size: 1.6rem;
padding: 22px;
position: relative;
left: 0px;
bottom: 7px;
background: var(--secondary-color);
color: #ffffff;
border-radius: 35px ;
cursor: pointer;
}
form{
    padding-top: 10px;
}